/* ---------- Navbar ---------*/
body {
  background: #F7F7F7;
}  
.mt-2rem {
  margin-top: 2rem;
}
.pt-3rem {
  padding-top: 3rem;
}
nav {
    /* background-color: #000000a6; */
    overflow: unset;
  }
  .point-mt {
    margin-top: 3rem;
  }
  .point-1{
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .point-1 p {
    margin-bottom: 3rem;
  }
  .point-1 img{
    width: 100%;
  }
  .display-4 {
    word-break: break-all;
    font-size: 2.5rem;
  }
  .md-hide {
    display: none;
  }
  .lead {
    font-size: 1rem;
    font-weight: 300;
    margin-left: 15px;
  }


/*----------- Screen 1 -----------*/

 .screen-1 {
    background-image: url('../static/img/img-9.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 500px; */
 }

 .screen-1-title {
    padding-left:  6 rem;
 }


/*----------- intro ------------ */
.intro {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #F7F7F7;
}

 .jumbotron-intro {
  /*margin-top: 5rem;*/
  /* margin-left: 5rem; */
  /* margin-right: 5rem; */
  /*margin-bottom: 5rem;*/
  background-color: #FFFFFF;
 }

/*-------point 1 ------*/

 .point-1-row {
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url('../static/img/wallet/elipse-orange-left.png');
  background-repeat:no-repeat;
  background-size: 35% 85%;
 }

 .point-1-row img{
    margin-left:4rem;
    margin-top: 5rem;
    height: 40%;
    width: auto;
 }

 .point-1-text {
  margin-left: 3rem;
  margin-right: 5rem;
}
/* ------- point-2 ---------*/

/*-------point 1 ------*/

 .point-2-row {
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url('../static/img/wallet/elipse-orange-right.png');
  background-position: right;
  background-repeat:no-repeat;
  background-size: 35% 85%;
 }

 .point-2-row img{
    margin-left:4rem;
    margin-top: 5rem;
    height: 40%;
    width: auto;
 }

 .point-2-text {
    margin-left: 5rem;
    margin-right: 10rem;
 }

/* -------- hr ------------*/
  .hr-orange {
    border-top: 1px solid #B47D36;
    width:10%;
  }

/* ----- compatibility-screen -----*/

.compatibility-screen {
  background-color:  #ECECEC;
  background-position: right;
  background-repeat:no-repeat;
  background-size: 100% 100%;
  padding-right:5rem;
}

.compatibility-screen .row{
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.compatibility-screen h4 {
  color: #3C3B3B;
  font-family: 'Regular';
}

.compatibility-screen h4 a{
  color: #B47D36;
  font-family: 'Regular';
}

.compatibility-screen p {
  color: #3C3B3B;
  font-family: 'Regular';
}

.compatibility-screen img{
  height: 80%;
  width: 80%;
  margin-top:2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

/* --------footer ---------*/

  .footer {
    background-color: #F2F2F2;
  }

  .footer-logo {
    width: 16rem;
  }

  .connect a{
    font-size:2em;
    padding:1rem; 
  }

  footer {
    background-color: #D7D7D7;
  }

  .footer-padding {
    padding-top: 4rem;
  }

  .social a{
    font-size:4em;
    padding:1rem;
  }

.wallet-title {
  background-image: url('../static/img/main.png');
  background-position: center center;
  background-repeat:no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.wallet-point-one {
  background-color: #F2F2F2;
}

.wallet-point-one img{
  padding-left: 0.2rem;
  padding-right: 1rem;
}

.crypto-container {
  background-color: #CFCDCA;
  margin-right: 3rem;
  margin-top:3rem;
  margin-bottom:3rem;
  margin-left:3rem;
}

.crypto-container img{
  height: 5rem;
  width: 5rem;
}




/*---Media Queries --*/
@media (min-width: 768px) and (max-width: 992px) {
  .point-1 img {
    width: 100%!important;
}
.compatibility-screen img {
  height: auto;
}

}
@media (max-width: 768px) {
  .pt-3rem {
    padding-top: 0rem;
  }
  .point-1 {
    margin-left: 0rem;
    margin-right: 0rem;
}
  .point-1 img {
    width: 50%;
}
.point-1 p {
  word-break: break-word;
  text-align: left!important;
}
.point-mt {
  margin-top: 0rem;
}
  .xs-hide {
    display: none;
  }
  .md-hide {
    display: block;
  }
  
}
@media (max-width: 576px) {
  .lead {
    text-align: justify;
}
.point-1-text {
  margin-left: 0rem;
  margin-right: 0rem;
  text-align: justify!important;
}
  .compatibility-screen {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .jumbotron-intro {
    margin-left: 0rem;
    margin-right: 0rem;
  }
  .point-1-row {
    margin-top: 5rem;
    margin-bottom: 0rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-image: url(../static/img/wallet/elipse-orange-left.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 200px;
    
}
.point-1-row img {
  margin-left: 1rem;
  margin-top: 4rem;
  height: 24%;
  width: auto;
}
.mt--200{
  margin-top: -200px;
}
.point-1-text {
    margin-left: 0rem;
    margin-right: 0rem;
}
  
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

@media (min-width: 768px) and (max-width: 992px) {
  .tablet-col-3 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
    }
    .tablet-col-1 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 8.333333%;
      flex: 0 0 8.333333%;
      max-width: 8.333333%;
    }
    .tablet-col-5
      {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
  }



/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








